
@import "./../../../../variables.scss";

.banner{
    min-height: 100vh;
    
    .container{
        display: table;
        height: 100vh;

        .section-box-banner{
            display: table-cell;
            vertical-align: middle;
            .about-img-container{
                width: 600px;
                margin: auto;
                background-color: rgb(105, 105, 105);
                border-radius: 50%;
                height: 600px;
        
                
                img{
                    z-index: 2;
                    position: relative;
                    width: 500px;
                    height: 700px;
                }
            }

            .content{
                margin-top: 98px;
            }

            h1{
    
                color: #64ffda;
                margin: 0 0 20px 3px;
                font-size: 16px;
                font-weight: normal;
                font-family: $CodeFont;
            }

            h2, h3 {
                font-weight: 600;
                font-size: 80px;
                line-height: 1.1;
                margin: 30px;
                margin-right: 0;
                font-family: $MainFont;
            }

            h2{
                color: $LightestSlate;
            }
            h3{  
                color: $Slate;
            }

            .banner-description{
                margin-bottom: 70px;
            }

            p{
                max-width: 500px;
                font-size: 100;
            }

            .div-btn-banner{
                height: 43px;
            }
        }

       
    }    
}
.banner-component{
    display: flex;
    justify-content: space-between;
}

#profileCover {
    width: 30vw;
    height: 60vh;
    border-radius: 50%;
    background-color:#383a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    left: 150px;
    /* background-color: transparent; */
    /* margin-top: 4rem; */
  }
  #profile-pic {
    width: 97%;
    height: 132%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -2px;
    /* margin-top: 5rem; */
    /* display: none; */
  }

  .image {
    border: 0;
    border-radius: 4px;
    display: inline-block;
    position: relative;
  }
  
  .image img {
    display: block;
    border-radius: 4px;
  }
  
  .image.left,
  .image.right {
    width: 40%;
    max-width: 10rem;
  }
  
  .image.left img,
  .image.right img {
    width: 100%;
  }
  
  .image.left {
    float: left;
    margin: 0 1.5rem 1rem 0;
    top: 0.25rem;
  }
  
  .image.right {
    float: right;
    margin: 0 0 1rem 1.5rem;
    top: 0.25rem;
  }
  
  .image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
  }
  
  .image.fit img {
    width: 100%;
  }
  
  .image.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;
  }
  
  .main img {
    width: 100%;
    /* border-radius: %; */
  }
  
  #hero{
      display: flex;
      align-items: start;
      height: 70vh;
      justify-content: center;
      gap: 7rem;
      padding-top: 5rem;
  }
  
  #content1{
      /* padding-top: 7.5rem; */
      margin: 0;
      position: relative;
      display: block;
  }
  
  #content1 h1,p,ul{
      width: fit-content;
  }
  
  #content1 h1{
      font-weight: 500;
  }
  
  #content1 p{
      font-weight:300;
  }
  
  
  #section-img {
      /* view port width */
      width: 55vw;
  }
  
  #section3-img{
      width: 55vw;
  }
  
  #gal{
      width: 33.3vw;
      height: 37vh;
  }
  
  #gallery-img{
      height: 100%;
      width: 100%;
  }
  
  #gallery-img img{
      height: 100%;
      width: 100%;
  }

    
